<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!--    开启mvc注解-->
    <mvc:annotation-driven />

<!--    开启扫描Controller-->
    <context:component-scan base-package="com.android.controller"/>


    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
     </bean>

<!--    该标签相当于在controller中使用@RequestMapper进行界面跳转
path=”/hello” 就是你访问的路径（相当于RequestMapping(“/hello”)）
view-name=”hello”是你所要的视图（如hello.jsp,相当于return “hello”）
-->
<mvc:view-controller path="/user" view-name="main"></mvc:view-controller>
    
</beans>